<!--para utilizar el ngModel en el input tenemos que exportarlo a pais.module.ts y se importa com FormModule-->
<!--Tambien agregamos el ngSubmit para que al momento de dar Enter en la caja de texto nos arroje el nombre del pais en consola-->
<!--todo esto son pruebas para ver las respuestas del ngModel y ngSubmit-->
<h2>Por País</h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="buscar()" autocomplete="off">
            <input type="text" name="termino" class="form-control" [(ngModel)]="termino" placeholder="Buscar País...."> 
        </form>
    </div>
</div>
<hr>
<div class="alert alert-danger" *ngIf="hayError">                                             <!--5.2- (manejo de herrores) agregamos un ngIf llamamos "Hay Error"-->
    No se encontró nada con el termino {{termino}}                                            <!--6.2-(manejo de herrores) agregamos termino para que nos imprima el error que escribimos-->
</div>

<div class="row" *ngIf="!hayError">                                                            <!--7.2-(manejo de herrores) si hya error no muestres la tabla-->
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Poblacion</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pais of paises; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td><img class="small-flag" [src]="pais.flag" alt=""></td>
                    <td>{{ pais.name }}</td>
                    <td>{{pais.population | number}}</td>
                    <td><a href="/pais/cri ">Ver</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
